/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .clear {
  clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
  }
  body {
    font-size: 1.6rem;
    line-height: 1em;
    text-align: center;
    background-color: #194548;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
 
 img {
  max-width: 25rem;
 }
  
  
  h1 {
    width: 100%;
    color: white;
    text-shadow: 1.3px 1px #000000;
    font-size: 5rem;
    line-height: 5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

 p {
  color: white;
  line-height: 2.5rem;
  margin: 1rem 5rem 3rem 5rem;
 }

 .hero {
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .actionbox {
  background-color: #115E54;
  display:flex;
  padding: 3rem 5rem;
  flex: 0 3 30rem;
  flex-direction: column;
  justify-content: center;
  border: 1.5px solid #FFEDCD;
  border-radius: .8rem;
  margin-bottom: 5rem;
   }

  input[type="text"] {
  height: 3rem;
  margin-bottom: .5rem;
}
 
 .button {
  background-color: #E96A35;
  font-weight: 700;
  height: 3rem;
  color: #FFEDCD;
  border: 1.5px solid #000000;
  border-radius: .8rem;
  margin:.5rem 0;
 }

 .playerlist {
  min-height: 6rem;
  border: 1.5px solid #000000;
  border-radius: .8rem;
  background-color: #bbc4c3;
}

.playerlist ul {
  padding-left: 0;
}


.playerlist ul li {
  font-family: 'Patrick Hand SC', cursive;
  list-style: none;
  font-size: 2.5rem;
  color:#194548;
  text-shadow: 1px 1px #FFEDCD;
  padding-left: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

 
 @media only screen and (max-width: 600px) {
  h1 {
      font-size: 3rem;
      line-height: 3rem;
      margin-top: 2rem;
      }
  
 p {
     color: #bbc4c3;
     line-height: 2rem;
     margin: .5rem 1.6rem 2rem 1.6rem;
       }

 img {
     max-width: 15rem;
       }
  
      }