/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .clear {
  clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    line-height: 1em;
    text-align: center;
    background-image: url("../discgolfbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
 
.top {
    height: 100px;
}
  
  
  h1 {
    width: 100%;
    font-size: 5rem;
    margin-top: 6rem;
    font-family: 'Acme', sans-serif;
  }

  h4 {
    font-size: 3rem;
    margin-bottom: 5vh;
    font-family: 'Acme', sans-serif;
  }

  h3 {
    font-size: 8rem;
    color: #f71c1c;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px black;
    margin-top: 6rem;
    margin-bottom: 7rem;
  }

  img {
    border-radius: 50%;
    border: 8px solid #555;
    box-shadow: 10px 5px 20px red;
    width: 200px;
    height: 200px;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

 
 .header {
    display: flex;
    border-top: 2rem solid #ffd311;
    background-color: white;
    
 }

 .parent {
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color:white;
    border-bottom: 2rem solid #ffd311;
 }

 .div {
    width: 100%;
 }

 @media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
        line-height: 5rem;
        margin-top: 4rem;
      }
    
      h4 {
        font-size: 2rem;
      }

      h3 {
        font-size: 6rem;
        line-height: 5rem;
        margin-top: 2.5rem;
        margin-bottom: 4rem;

      }
    


  }